<h1>Описание проекта</h1>
<ul>
  <li>Аутентификация пользователей</li>
  <li>Создание тестов</li>
  <li>Прохождение тестов</li>
  <li>Публикация результатов в социальных сетях</li>
</ul>
Powered by <%= link_to 'Thinknetika', 'http://thinknetica.com' %>
