<h1>Описание проекта</h1>
<ul>
  <li>Аутентификация пользователей</li>
  <li>Создание тестов</li>
  <li>Прохождение тестов</li>
  <li>Публикация результатов в социальных сетях</li>
</ul>

Powered by <a href = 'http://thinknetica.com'>Thinknetika</a>
