<table class="table table-bordered table-striped">
  <tr>
    <th class="align-middle"><%= t('.column_1') %></th>
    <th class="align-middle"><%= t('.column_2') %></th>
    <th class="align-middle"><%= t('.column_3') %></th>
  </tr>

  <%= render @gists %>
</table>
