<% if @test_passage.passed? %>
  <h1 class='test_result_completed'>The <%= @test_passage.test.title %> test was completed!</h1>
<% else %>
  <h1 class='test_result_failed'>The <%= @test_passage.test.title %> test was failed!</h1>
<% end %>

<h3>Result: <%= @test_passage.result %></h3>

<p><%= link_to 'Back', tests_path %></p>
