<div>
  <h5>
    <p><%= current_year %> | <%= link_to 'About author', '/author' %> | <%= github_url %><br>
    Учебный проект в онлайн-школе <a href='http://thinknetica.com' target='_blank'>Thinknetika</a></p>
  </h5>
</div>
