<div>
  <h5>
    <p><%= Time.now.year %> | <%= link_to 'About author', '/author' %> | <%= link_to 'About project', '/about' %><br>
    Учебный проект в онлайн-школе <a href='http://thinknetica.com' target='_blank'>Thinknetika</a></p>
  </h5>
</div>
