<li>
  <%= answer.body %><br />
  <%= link_to t('.open'), admin_answer_path(answer) %> |
  <%= link_to t('.update'), edit_admin_answer_path(answer) %> |
  <%= link_to t('.delete'), admin_answer_path(answer),
                                    method: :delete,
                                    data: { confirm: t('.delete_message') } %>
</li>
