<li>
  <%= question.body %><br />
    <%= link_to t('common.button.open'), admin_question_path(question) %> |
    <%= link_to t('common.button.update'), edit_admin_question_path(question) %> |
    <%= link_to t('common.button.delete'), admin_question_path(question),
                                      method: :delete,
                                      data: { confirm: t('common.pop_up.delete') } %><br />
</li>
